django_instagram_clone/django_instagram_clone/templates/base.html
django_instagram_clone/django_instagram_clone/templates/notification/notifications.html
django_instagram_clone/django_instagram_clone/templates/post/index.html