{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-3 mt-2">
      <a href="{% url 'search_tag' %}" class="btn btn-outline-primary mb-2">Search For A Tag</a>
      {% for tag in tags %} {% if tag.posts_count >= 1 %}
      <div class="card mb-2" style="width: 30rem">
        <div class="card-body" style="background-color: #a5c0d9">
          <a
            href="{{tag.get_absolute_url}}"
            style="text-decoration: none; color: black"
            ><h5 class="card-title">
              #{{tag}}<span class="badge bg-secondary float-right mt-2"
                >{{tag.posts_count}}</span
              >
            </h5></a
          >
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
